

<div class="cont_principal">
<div class="cont_central">
  <div class="cont_modal">
  <div class="cont_photo">
<div class="cont_img_back">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/57/98/9f/57989f2a2e186e38bf93429aa395120c.jpg" alt="" />
    </div>
<div class="cont_mins">
  <div class="cont_icon_right">
<a href="#"><i class="fas fa-edit"></i></a>
  </div>
    </div>

<div class="cont_detalles">
    <h3>ここに名前</h3>
<p>ここに一言</p>
    </div>
    </div>
<div class="cont_text_ingredients">
<div class="cont_over_hidden">

  <div id="tabs" class="tabs cont_tabs">
    <ul>
          <li><a href="#section-0" class="now"><i class="fas fa-comments"> profile</i></a></li>
          <li><a href="#section-1"><i class="fas fa-history"> 投稿履歴</i></a></li>
          <li><a href="#section-2"><i class="fab fa-gratipay"> お気に入り</i></a></li>
          <li><a href="#section-3"><i class="fas fa-tags"> タグ</i></a></li>
          <li><a href="#section-4"><i class="fas fa-comments"> まだ</i></a></li>
    </ul>
  </div>

    <div class="cont_title_preparation">
  <div class="content">
    <div id="#section-0">
        aaa
    </div>


    <div id="#section-1">
      bbb
    </div>
  </div>


<!--       <div class="cont_btn_mas_dets">
        <a href="#"><i class="fas fa-chevron-right"></i></a>
      </div>
    </div> -->
  </div>
    </div>
    <div id="botan" class="cont_btn_open_dets">
      <i class="fas fa-chevron-right"></i>
    </div>

</div>
    <script src="http://tympanus.net/Blueprints/FullWidthTabs/js/cbpFWTabs.js"></script>
    <script>
      new CBPFWTabs( document.getElementById( 'tabs' ) );
    </script>
