<div class="about_box">
	<div class="about_text">
		<div class="about_title">
			<h1>Canatapについて</h1>
		</div>
		<div class="about_content">
			Cantapへようこそ。
			こちらはユーザー投稿型の「聖地巡礼MAP」作成サイトです。
			好きだったあの作品の舞台、憧れの俳優さんが訪れた場所など、
			あなたにとっての「聖地」を投稿してください！
			同じものが好きな人と出会う、
			同じ場所を聖地とする別の作品に出会う、
			自分が好きな作品のまだ知らぬ聖地に出会う、
			このサイトを通じて、出会いのきっかけを広げていってもらえれば幸いです。
		</div>
		<div class="about_title">
			<h3>Howto</h3>
		</div>
		<div class="about_content">
			<h5>1.TOP画面MAPから、新たな聖地を探しましょう。</h5>
			MAP左下にある検索バーに住所を指定することで、
			MAPの表示位置を変更することができます。
			<h5>2.投稿したい場所をクリックして聖地情報を投稿しましょう</h5>
			自分が知っている聖地情報がまだ登録されていなかった場合、
			その場所をクリックすることで登録ウィンドウが表示されます。
			必要箇所に記入し、送信を押してください。
			<h5>3.登録済みの聖地を見てみましょう。</h5>
			登録された聖地情報はMAP上にマーカーで表示されます。
			マーカーをクリックすることでウィンドウが開き詳細が表示されます。
		</div>

        <div class="loco_back">
        <%= link_to place_talks_path do %>
          <img src='/images/logo4.png'class="about_logo_back">
        <% end %>
        </div>
        <div class="logo_text">さぁ始めよう!</div>

	</div>
</div>

