// Place all the styles related to the place_talks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users_edit_account_edit{
	text-align: center;
	width: 100px;
}

.adress{
	text-align: left;
	width: 250px;
}